

body {font-family: sans-serif;}

.horizontal-nav li {
    list-style: none;
    margin: 0;
    display: inline;
    margin-right: 10%;
    padding-bottom:5%;
    text-align:center;
    font-size:1vw;
}

h1 {
  font-size:4vw;
  text-align:left;
}

h3 {
  background-color:lightblue;
    max-width: 50%;
    text-align: center;
    font-size:2vw;
}

#about {
  border: 4px;
  max-width: 50%;
  padding-bottom:5%;
  font-size:2vw;
}
#favs {
  max-width: 27%;
  font-size:2vw;
}

#music {
  font-size:2vw;
  text-align:left;
}

footer {
    padding-top: 6%;
  text-align: left;
  font-size:1vw;
}