

body {font-family: sans-serif;}

.horizontal-nav li {
    list-style: none;
    margin: 0;
    display: inline;
    margin-right: 10%;
    padding-bottom:5%;
    /* how do you make the list appear in the center */
}

h1 {background-color:lightblue;
  font-size:3wv;
  width: 10%;
  margin: auto;
   margin-top: 5% ;
   margin-bottom: 5%;
  text-align: center
  /* margin on the top is not working *shrug */
}

h3 {background-color:lightblue;
    max-width: 50% auto;
    text-align: center;
}

#about {
  border: 4px;
  max-width: 50%;
  padding-bottom:5%;
}
#favs {max-width: 27%;}

footer {
    padding-top: 6%;
  text-align: center}
  
/*   how to resize images in CSS - did it in html
     felx boxes? - can i use them to make the image on the right and the writing on the left
*/
 